body {
  margin: 0px;
  padding: 0px; 
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, "sans serif";	
  font-size: 82%;	
  line-height: 1.4;
}

a {
  color: #990000;
  text-decoration: none;
}

#outerpage {
  width: 744px;
  margin: 20px auto 0px auto;
}

#innerpage {
  border: 1px solid #cc9900;
  height: 1px;
  background-color: #FBF4EA;
}
html>body #innerpage {
  height: auto;
}

#globalNav {
  position: absolute;
  top: 1px;
  right: 50%;
  float: right;
  margin: 0px;
  margin-right: -373px;
  font-size: .9em;
  text-align: right;
}
/* \*/
#globalNav {
  width: auto;
}
/* */

#globalNav ul {
  margin: 0px;
  padding: 0px;
  padding-top: 2px;
}

#globalNav ul li {
  display: inline;
}

#globalNav a {
  text-transform: uppercase;
  padding: 0px 5px 1px 5px;
  margin: 0px 2px;
  text-decoration: none;
  color: #000;
}

#globalNav a:hover {
  color: #900;
}

#header {
  width: 100%;
  background-color: #900;
  background-image: url(../images/crestLarge.gif);
  background-position: 15px 5px;
  background-repeat: no-repeat;
  height: 70px;
}

#header h1 {
  position: absolute;
  top: 1px;
  left: 50%;
  margin: 0px 0px 0px -367px;
  padding: 5px 0px 0px 0px;
  font-size: .9em;
  line-height: 1em;
  font-weight: normal;
  text-transform: uppercase;
}

#header h1 a {
  color: #000;
  text-decoration: none;
}

#header h1 a:hover {
  color: #900;
}

#header #crest {
  display: none;
}

#header #siteTitle {
  clear: both;
  margin: 0px;
  padding: 0px;
  /*
  To include a banner graphic header in your page, uncomment 
  the following four lines and edit the image file name and path
  accodingly. 
  
  background-image: url(../images/wsgRed.gif);
  background-position: 65px 18px;
  background-repeat: no-repeat;
  background-color: transparent;
  */
  height: 70px;
}

/*
To include a banner graphic header in your page, uncomment
the following three lines.

#header #siteTitle span {
  display: none;
}
*/

#header #siteTitle span a {
  font-size: 1.4em;
  color: #fff;
  display: block;
  padding-top: 23px;
  margin-left: 65px;
}

#content {
  background-image: url(../images/bgShadow.gif);
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-color: transparent;
  padding-top: 8px;
}

#leftColumn {
  width: 150px;
  float: right;
  overflow: hidden;
}

#leftColumn ul {
  margin: 0px;
  margin-top: 10px;
  padding: 0px;
  list-style-type: none;
}

#leftColumn ul li {
  margin-bottom: 10px;
  line-height: 1.1em;
}

#centerColumn {
  width: 592px;
  float: right;
  background-color: #fff;
}

#centerColumn .sheath {
  border-left: 1px solid #cc9900;
  padding-top: 23px;
  height: 1px;
}
html>body #centerColumn .sheath {
  padding-top: 10px;
  height: auto;
}
#centerColumn h3 {
  margin-top: 5px;
}

#centerColumn a:link {
  border-bottom: 1px dotted #ababab;
}

#centerColumn a:visited {
  color: #550000;
  border-bottom: 1px dotted #ababab;
}

#centerColumn a:hover {
  color: #cc9900;
  border-bottom: 1px dotted #cc9900;
}

.sheath {
  padding: 15px 15px;
}

#footer {
  text-align: center;
  margin-top: 10px;
  font-size: 0.9em;
  line-height: 1.4em;
}

#footer p {
  margin: 0px;
  padding: 0px;
}

.mouseOver {
	cursor: pointer;
}

.mouseOut {
	cursor: normal;
}

.hide {
  display: none;
}
