<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	cropToFit="true"
	resizeOnImport="false"
	galleryTitle="Shots with D3300"
	useThumbDots="false"

>
  <image imageURL="images/_DSC0067.jpg"
	thumbURL="thumbs/_DSC0067.jpg"
	linkURL="images/_DSC0067.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Anmol\Documents\Coding\CS_Website\photos\_DSC0067.JPG">
    <title><![CDATA[_DSC0067]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_DSC0112.jpg"
	thumbURL="thumbs/_DSC0112.jpg"
	linkURL="images/_DSC0112.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Anmol\Documents\Coding\CS_Website\photos\_DSC0112.JPG">
    <title><![CDATA[_DSC0112]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_DSC0114.jpg"
	thumbURL="thumbs/_DSC0114.jpg"
	linkURL="images/_DSC0114.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Anmol\Documents\Coding\CS_Website\photos\_DSC0114.JPG">
    <title><![CDATA[_DSC0114]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_DSC0183.jpg"
	thumbURL="thumbs/_DSC0183.jpg"
	linkURL="images/_DSC0183.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Anmol\Documents\Coding\CS_Website\photos\_DSC0183.JPG">
    <title><![CDATA[_DSC0183]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/15 - 1.jpg"
	thumbURL="thumbs/15 - 1.jpg"
	linkURL="images/15 - 1.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Anmol\Documents\Coding\CS_Website\photos\15 - 1.jpg">
    <title><![CDATA[15 - 1]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2014-11-16.jpg"
	thumbURL="thumbs/2014-11-16.jpg"
	linkURL="images/2014-11-16.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Anmol\Documents\Coding\CS_Website\photos\2014-11-16.jpg">
    <title><![CDATA[2014-11-16]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20141014_230736.jpg"
	thumbURL="thumbs/20141014_230736.jpg"
	linkURL="images/20141014_230736.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Anmol\Documents\Coding\CS_Website\photos\20141014_230736.jpg">
    <title><![CDATA[20141014_230736]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20141015_023044.jpg"
	thumbURL="thumbs/20141015_023044.jpg"
	linkURL="images/20141015_023044.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Anmol\Documents\Coding\CS_Website\photos\20141015_023044.jpg">
    <title><![CDATA[20141015_023044]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20141031_094228.jpg"
	thumbURL="thumbs/20141031_094228.jpg"
	linkURL="images/20141031_094228.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Anmol\Documents\Coding\CS_Website\photos\20141031_094228.jpg">
    <title><![CDATA[20141031_094228]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20141102_141656.jpg"
	thumbURL="thumbs/20141102_141656.jpg"
	linkURL="images/20141102_141656.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Anmol\Documents\Coding\CS_Website\photos\20141102_141656.jpg">
    <title><![CDATA[20141102_141656]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20141107_121410.jpg"
	thumbURL="thumbs/20141107_121410.jpg"
	linkURL="images/20141107_121410.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Anmol\Documents\Coding\CS_Website\photos\20141107_121410.jpg">
    <title><![CDATA[20141107_121410]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20141129_155020_Pano.jpg"
	thumbURL="thumbs/20141129_155020_Pano.jpg"
	linkURL="images/20141129_155020_Pano.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Anmol\Documents\Coding\CS_Website\photos\20141129_155020_Pano.jpg">
    <title><![CDATA[20141129_155020_Pano]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20141129_161003-EFFECTS.jpg"
	thumbURL="thumbs/20141129_161003-EFFECTS.jpg"
	linkURL="images/20141129_161003-EFFECTS.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Anmol\Documents\Coding\CS_Website\photos\20141129_161003-EFFECTS.jpg">
    <title><![CDATA[20141129_161003-EFFECTS]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20141225_115142.jpg"
	thumbURL="thumbs/20141225_115142.jpg"
	linkURL="images/20141225_115142.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Anmol\Documents\Coding\CS_Website\photos\20141225_115142.jpg">
    <title><![CDATA[20141225_115142]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20141225_133532.jpg"
	thumbURL="thumbs/20141225_133532.jpg"
	linkURL="images/20141225_133532.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Anmol\Documents\Coding\CS_Website\photos\20141225_133532.jpg">
    <title><![CDATA[20141225_133532]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20141231_121545.jpg"
	thumbURL="thumbs/20141231_121545.jpg"
	linkURL="images/20141231_121545.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Anmol\Documents\Coding\CS_Website\photos\20141231_121545.jpg">
    <title><![CDATA[20141231_121545]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20150116_135956_Pano.jpg"
	thumbURL="thumbs/20150116_135956_Pano.jpg"
	linkURL="images/20150116_135956_Pano.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Anmol\Documents\Coding\CS_Website\photos\20150116_135956_Pano.jpg">
    <title><![CDATA[20150116_135956_Pano]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20150518_171609.jpg"
	thumbURL="thumbs/20150518_171609.jpg"
	linkURL="images/20150518_171609.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Anmol\Documents\Coding\CS_Website\photos\20150518_171609.jpg">
    <title><![CDATA[20150518_171609]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_6922.jpg"
	thumbURL="thumbs/DSC_6922.jpg"
	linkURL="images/DSC_6922.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Anmol\Documents\Coding\CS_Website\photos\DSC_6922.JPG">
    <title><![CDATA[DSC_6922]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_6925.jpg"
	thumbURL="thumbs/DSC_6925.jpg"
	linkURL="images/DSC_6925.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Anmol\Documents\Coding\CS_Website\photos\DSC_6925.JPG">
    <title><![CDATA[DSC_6925]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1559.jpg"
	thumbURL="thumbs/IMG_1559.jpg"
	linkURL="images/IMG_1559.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Anmol\Documents\Coding\CS_Website\photos\IMG_1559.JPG">
    <title><![CDATA[IMG_1559]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1590.jpg"
	thumbURL="thumbs/IMG_1590.jpg"
	linkURL="images/IMG_1590.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Anmol\Documents\Coding\CS_Website\photos\IMG_1590.JPG">
    <title><![CDATA[IMG_1590]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7497.jpg"
	thumbURL="thumbs/IMG_7497.jpg"
	linkURL="images/IMG_7497.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Anmol\Documents\Coding\CS_Website\photos\IMG_7497.JPG">
    <title><![CDATA[IMG_7497]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7534.jpg"
	thumbURL="thumbs/IMG_7534.jpg"
	linkURL="images/IMG_7534.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Anmol\Documents\Coding\CS_Website\photos\IMG_7534.JPG">
    <title><![CDATA[IMG_7534]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7560.jpg"
	thumbURL="thumbs/IMG_7560.jpg"
	linkURL="images/IMG_7560.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Anmol\Documents\Coding\CS_Website\photos\IMG_7560.JPG">
    <title><![CDATA[IMG_7560]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7575.jpg"
	thumbURL="thumbs/IMG_7575.jpg"
	linkURL="images/IMG_7575.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Anmol\Documents\Coding\CS_Website\photos\IMG_7575.JPG">
    <title><![CDATA[IMG_7575]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7578.jpg"
	thumbURL="thumbs/IMG_7578.jpg"
	linkURL="images/IMG_7578.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Anmol\Documents\Coding\CS_Website\photos\IMG_7578.JPG">
    <title><![CDATA[IMG_7578]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7623.jpg"
	thumbURL="thumbs/IMG_7623.jpg"
	linkURL="images/IMG_7623.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Anmol\Documents\Coding\CS_Website\photos\IMG_7623.JPG">
    <title><![CDATA[IMG_7623]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7631.jpg"
	thumbURL="thumbs/IMG_7631.jpg"
	linkURL="images/IMG_7631.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Anmol\Documents\Coding\CS_Website\photos\IMG_7631.JPG">
    <title><![CDATA[IMG_7631]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7636.jpg"
	thumbURL="thumbs/IMG_7636.jpg"
	linkURL="images/IMG_7636.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Anmol\Documents\Coding\CS_Website\photos\IMG_7636.JPG">
    <title><![CDATA[IMG_7636]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7639.jpg"
	thumbURL="thumbs/IMG_7639.jpg"
	linkURL="images/IMG_7639.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Anmol\Documents\Coding\CS_Website\photos\IMG_7639.JPG">
    <title><![CDATA[IMG_7639]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7642.jpg"
	thumbURL="thumbs/IMG_7642.jpg"
	linkURL="images/IMG_7642.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Anmol\Documents\Coding\CS_Website\photos\IMG_7642.JPG">
    <title><![CDATA[IMG_7642]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7655.jpg"
	thumbURL="thumbs/IMG_7655.jpg"
	linkURL="images/IMG_7655.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Anmol\Documents\Coding\CS_Website\photos\IMG_7655.JPG">
    <title><![CDATA[IMG_7655]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20150613_124130.jpg"
	thumbURL="thumbs/IMG_20150613_124130.jpg"
	linkURL="images/IMG_20150613_124130.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Anmol\Documents\Coding\CS_Website\photos\IMG_20150613_124130.jpg">
    <title><![CDATA[IMG_20150613_124130]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20150801_182703.jpg"
	thumbURL="thumbs/IMG_20150801_182703.jpg"
	linkURL="images/IMG_20150801_182703.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Anmol\Documents\Coding\CS_Website\photos\IMG_20150801_182703.jpg">
    <title><![CDATA[IMG_20150801_182703]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20150802_161437.jpg"
	thumbURL="thumbs/IMG_20150802_161437.jpg"
	linkURL="images/IMG_20150802_161437.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Anmol\Documents\Coding\CS_Website\photos\IMG_20150802_161437.jpg">
    <title><![CDATA[IMG_20150802_161437]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20150821_213313.jpg"
	thumbURL="thumbs/IMG_20150821_213313.jpg"
	linkURL="images/IMG_20150821_213313.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Anmol\Documents\Coding\CS_Website\photos\IMG_20150821_213313.jpg">
    <title><![CDATA[IMG_20150821_213313]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG-20150203-WA0011.jpg"
	thumbURL="thumbs/IMG-20150203-WA0011.jpg"
	linkURL="images/IMG-20150203-WA0011.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Anmol\Documents\Coding\CS_Website\photos\IMG-20150203-WA0011.jpg">
    <title><![CDATA[IMG-20150203-WA0011]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Panorama 5.jpg"
	thumbURL="thumbs/Panorama 5.jpg"
	linkURL="images/Panorama 5.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Anmol\Documents\Coding\CS_Website\photos\Panorama 5.JPG">
    <title><![CDATA[Panorama 5]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>